.modalTodoForm {
    width: 90%;
    max-width: 320px;
    height: 30vh;
    display: flex;
    flex-direction: column;
}

.modalTodoForm label{
    color: #fff;
    margin-bottom: 1em;
    
}

.modalTodoForm__inputArea {
    flex: 1;
    border: unset;
    padding: 1em;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(15.5px);
    -webkit-backdrop-filter: blur(15.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.modalTodoForm__btns {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin: 1em 0;
}

.modalTodoForm__btn--add {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
    background: #57cc99;
    z-index: 1;
}

.modalTodoForm__btn--add:hover:after {
    width: 100%;
    left: 0;
}

.modalTodoForm__btn--add:after {
    border-radius: 5px;
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    z-index: -1;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
    transition: all 0.3s ease;
    background-color: #80ed99;
    right: 0;
}

.modalTodoForm__btn--add:active {
    top: 2px;
}

.modalTodoForm__btn--cancel {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
    background: #d90429;
    z-index: 1;
}

.modalTodoForm__btn--cancel:hover:after {
    width: 100%;
    left: 0;
}

.modalTodoForm__btn--cancel:after {
    border-radius: 5px;
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    z-index: -1;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
    transition: all 0.3s ease;
    background-color: #ef233c;
    right: 0;
}

.modalTodoForm__btn--cancel:active {
    top: 2px;
}

@media screen and (min-width: 768px) {
    .modalTodoForm {
        max-width: 500px;
        height: 40vh;
    }

    .modalTodoForm__btns {
        justify-content: flex-end;
    }
}